/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { 
    box-sizing: border-box; 
    }
*, ::after, ::before { box-sizing: inherit; }




body{
    background-color: #b2bec3;
    font-family: 'Nunito', sans-serif;
    
}

h1{
    font-size: 36px;
    font-family: 'Nunito', sans-serif;
    color: #d63031 ;
    margin-bottom: 30px;
    margin-top: 0;
    font-weight: bold;

}


div{
    background-color: white ;
    width: 550px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    margin-top: 150px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: grey 1px 1px 10px;
    

}

p{
    font-size: 18px;
    text-align: justify;

}

.text{
    margin-top: 30px;

}

.textDolu{
    margin-bottom: 30px;

}

img{
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 374px;
    left: 475px;
    border: 3px solid white;
    border-radius: 50%;
}


a{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}

.tw:hover{
    background-color: #0b7bc1;

}

.fb:hover{
    background-color:#2b406e ;
    
}


.tw{
    background-color: #1da1f2 ;
    margin-bottom: 5px;
    
}

.fb{
  background-color: #3b5998 ;
  
}




/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

